  @{
  Layout = "_Layout";
}

<h1>Pierres Grand Re-re-reopening!!</h1>
<h3>A land of a thousand treats await you!</h3>

<p>@Html.ActionLink("Browse Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Browse Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("New User? Click Here!", "Index", "Account")</p>